* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: column;
}
.sidebar {
  padding: 10px;

  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar > .logo {
  display: flex;
  align-items: center;
}
.sidebar > .logo img {
  display: inline-block;
  width: 50px;
  height: 50px;
  filter: invert(100%);
  margin-right: 20px;
}

.sidebar > .logo h1 {
  margin: 0;
  display: inline-block;
}

.sidebar ul {
  font-weight: bold;
  list-style: none;
}

.sidebar li {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
}
.sidebar li img {
  width: 30px;
  height: 30px;
}
.header {
  padding: 10px 20px;

  grid-column: 2/ 3;
}

.header > .first {
  display: flex;
}

.header .first .search {
  flex: 1;
}
.header .first p:nth-child(2) {
  margin-left: auto;
}

.header .search p {
  display: inline-block;
}

.header .search > input[type="text"] {
  width: 50%;
  height: 25px;
}

.header > .second {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
}

.header > .second > .user {
  display: flex;
  gap: 20px;
}
.header .second .user .icon {
  width: 100px;
  height: 100px;
}

.main-content {
  display: grid;
  grid-template-columns: 8fr 3fr;
  gap: 20px;
}

.main-content > .project {
  padding: 10px;
}

.main-content > .other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.main-content > .project > .project-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 50px;
}

.main-content > .other > .trending .info {
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.main-content > .other > .trending .info img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.main-content > .other > .trending .info div * {
  margin: 0;
}

.main-content {
  padding: 20px;
}

.project-summary .info,
.announcement .card,
.trending .card {
  border-radius: 15px;
}

.announcement .card {
  padding: 11px 20px 11px 20px;
}

.announcement .card .info {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.announcement .card .info:nth-last-child(n + 2) {
  border-bottom: 1px solid #e2e8f0;
}
.announcement .card .info p,
.announcement .card .info h4 {
  margin: 0;
}

.sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar ul li {
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header input[type="text"] {
  border-radius: 100px;
  background-color: #e2e8f0;
  border: none;
}

.header {
  padding: 25px 20px;
}

.header p {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;
}
.header h2 {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search {
  display: flex;
  align-items: center;
}

.first img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.first .avatar {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.second .avatar {
  width: 80px;
  height: 80px;
  padding: 5px;
}
.first {
  align-items: center;
}

.second button {
  color: white;
  background-color: #1992d3;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 50px;
}

.second button:hover {
  cursor: pointer;
}

.header {
  box-shadow: 5px 5px 10px rgba(0.1, 0.1, 0.1, 0.5);
  margin-bottom: 10px;
}

.project-summary article.info {
  padding: 10px;
  border-left: 11px solid #f0b329;
}

.project-summary article.info ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.project-summary article.info ul img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.announcement p {
  font-size: 0.8rem;
}

.announcement h4 {
  font-size: 0.9rem;
}

.trending > .card {
  padding-top: 1px;
  padding-bottom: 1px;
}
.trending > .card > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.trending > .card > .info img {
  margin: 5px 10px;
}
